body {
    background-color: #919191;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

header img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

nav {
    background-color: white;
    width: 20%;
    height: 200px;
    float: left;
}

nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

section {
    float: left;
    width: 80%;
    padding: 10px;
    height: 200px;
    background-color: darkred;
    box-sizing: border-box;
}

footer {
    clear: both;
    height: 100px;
    text-align: center;
    background-color: green;
}

/* span, a, img => always inline elem */
.breedte {
    display: block;
    width: 500px;
    background-color: green;
    margin: 200px;
    padding: 100px;
}