body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    font-family: Chalkboard, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.border {
    border: 2px solid black;
}

/* Start instellingen FlexBox */
section {
    background: coral;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.grey-box {
    margin: 10px;
    padding: 20px;
    font-size: 2em;
    background: grey;
    width: 200px;
}
