h1, h2 {
    color: red;
}


/* Class, mag meerdere keren voorkomen in html */
.styleBlue {
    color: blue;
    font-size: 4em;
}

/* kan ook een class maken */
section>h1 {
    color: green;
}

/* Id, mag maar 1 keer voorkomen in html */
#opmaak {
    color: yellow;
}