body {
    width: 95%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}

.headerClass {
    color: white;
    margin-top: 10px;
    background-image: url("Fotos/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 9em;
    background-color: black;
}

.headerClass h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 3em;
}

nav {
    background-color: #5c5c5c;
    height: 1.5em;
    color: black;
    padding-left: 10px;
}

nav a {
    text-decoration: none;
    color: lime;
    padding: 0;
    font-weight: bold;
    font-size: .9em;
}

article {
    background-color: #e7e7e7;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

article header h1 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    text-decoration: underline;
    font-size: 2em;
}

article p {
    font-size: 1.1em;
}

article footer {
    padding-bottom: 5px;
}